{% extends 'shop/basic.html' %}


{% block title %} SHOPING BAZZAR {% endblock %}

{% block body %}
{% load static %}
{% comment %} <div class="container my-2">
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static " shop/ph5.jpg" %}" width=300px height=500px class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static " shop/ph5.jpg" %}" width=300px height=500px class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static " shop/ph5.jpg" %}" width=300px height=500px class="d-block w-100" alt="...">
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quidem similique velit dolorem perferendis. Et quod nam velit dolore! Obcaecati ullam incidunt iste sint quia beatae cumque ducimus. Quaerat, id.</p> -->
</div> {% endcomment %}

<div class="container my-4">

  <!--Slideshow starts here -->
  {% for product, range, nSlides in allProds %}
  <h1>MEN FASHION - {{product.0.Product_name}}</h1>
  <h5 class="my-4">{{product.0.category}}</h5>
  <div class="row">
    <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

        {% for i in range %}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
        {% endfor %}
      </ul>


      <div class="container carousel-inner no-padding">

        <div class="carousel-item active">

          {% for i in product%}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card align-items-center" style="width: 18rem;">
              <img src='/media/{{i.image}}' class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
                <p class="card-text">{{i.dsc|slice:'0:58'}}...</p>
                <span id="divpr{{i.id}}" class="divpr">
                  <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
                </span>
                <a href="/shop/products/{{i.id}}"><button id="qr{{i.id}}" class="btn btn-primary cart">Quick
                    View</button></a>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
        <div class="carousel-item">
          {% endif %}

          {% endfor %}
        </div>



      </div>
    </div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>
  console.log('working');
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    updateCart(cart);
  }


  $('.cart').click(function () {
    // console.log('clicked');
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] != undefined) {
      cart[idstr] = cart[idstr] + 1;
    }
    else {
      cart[idstr] = 1;
    }
    updateCart(cart)

  });

  $('#popcart').popover();

  updatePopover(cart)


  function updatePopover(cart) {

    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
      popStr = popStr + "<b>" + i + "</b>. ";
      popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item] + '<br>';
      i = i + 1;
    }
    popStr = popStr + "</div>"
    document.getElementById('popcart').setAttribute('data-content', popStr);
    $('#popcart').popover('show');
  }

  function updateCart(cart) {
    for (var item in cart) {
      document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    console.log(cart);
    updatePopover(cart);
  }

  $('.divpr').on("click", "button.minus", function () {
    // console.log("minus clicked")
    a = this.id.slice(7,);
    cart['pr' + a] = cart['pr' + a] - 1;
    cart['pr' + a] = Math.max(0, cart['pr' + a]);
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
    updateCart(cart);
  });
  $('.divpr').on("click", "button.plus", function () {
    // console.log("plus clicked")
    a = this.id.slice(6,);
    cart['pr' + a] = cart['pr' + a] + 1;
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
    updateCart(cart);
  });
</script>
{% endblock %}